{% extends 'AppBundle::base.html.twig' %}

{% set title = "Erreur 403"%}

{% block body %}
<div class="container">
  <div class="well">
    <div class="jumbotron text-center">
      <h1 class="">\_G&lt;&nbsp;<i class="fa fa-fw fa-minus-circle"></i></h1>
      <br/>
      <h2>Accès refusé</h2>
      <p>
        Comme un VIAman qui tente de se sociabiliser en allant aux bangs, vous n'avez rien à faire ici. Peut-être vous prenez-vous pour un hackeur des interwebs ? Méfiez-vous, nous vous avons à l'oeil.
      </p>
      <p>
        <a href="/"><i class="fa fa-fw fa-chevron-left"></i> Retour à l'accueil</a>
      </p>
    </div>
  </div>
</div>
{% endblock %}