
<div class="container">
  <hr/>
  <div class="footer">
    <p class="main">
      Envoyez vos articles et vos insultes à <a href="mailto:garopi@my.ecp.fr">garopi@my.ecp.fr</a>
    </p>
    <p>
      Ce site a été créé sans l'accord du <abbr title="Piètre Invention Anti-Francophonie" class="initialism">Piaf</abbr>. Aucun copyright ©2015. Pour un monde meilleur.
    </p>
  </div>
</div>
