/web/bundles/
/web/images/*
/web/fonts/*
/web/img/*
/web/css/*
/web/js/*
/web/assetic/*
/web/uploads/*
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
.idea/
/app/Resources/less/bootstrap.less
.bundle/
/src/**/*.php~
