.article-detail {
  p:empty {
    display: none;
  }

  .jumbotron {
    padding: 30px;
  }

  .owl-carousel {
    margin-bottom: 20px;
  }

  .list-inline {
    > li:not(:last-child) {
      border-right-width: 1px;
      border-right-style: groove;
      line-height: normal;
      margin-right: -5px;
    }
  }

  .content {
    color: #000000;
    font-family: DroidSansRegular, Verdana, sans-serif;
    font-size: 1.7rem;
    line-height: 1.58824;

    > p {
      padding-bottom: 24px;
      margin-bottom: 0;
      text-align: justify;
    }
  }

  .article-wrapper {
    .make-row();

    .page-header {
      padding-left: 30px;
      margin-top: 20px;
    }

    .main {
      padding-left: 40px !important;
      padding-right: 40px !important;
      .make-sm-column(9, 0);
    }

    .aside {
      .make-sm-column(3, 0);
    }

    .author {
      .pull-right();
    }
  }


  .comments {
    color: #000000;
    font-family: DroidSansRegular, Verdana, sans-serif;

    .list-group-item.active {
      background-color: @list-group-hover-bg;
    }

    .comment-form {
      textarea {
        resize: none;
        float: left;
        height: 130px;
        width: 100%;
      }

      button {
        .pull-right();
      }
    }

    .comment {
      min-height: 90px;
      .photo-wrapper {
        width: 70px;
        img {
          max-width: 100%;
        }
        float: left;
      }

      .comment-wrapper {
        padding-left: 85px;
      }

      .content {
        time {
          .hidden-xs();

        }
        time::before {
          content: ' • ';
        }

        .actions {
          font-size: small;
          .pull-right();
        }

        p {
          white-space: pre-wrap;
        }
      }

    }
  }
}
