.homepage {
  .make-row();
  margin-left: 0;
  margin-right: 0;

  // Module disposition
  .module-wrapper {
    .make-xs-column(4);
    padding-right: 0;

    .module {
      .border-with-shadow();
      padding: 10px;

      h3 {
        margin-top: 0;
        text-align: center;
      }
      hr {
        margin: 10px;
      }
    }

    .module:not(:first-child) {
      margin-top: 15px;
    }

    .quote {
      p {
        white-space: pre-wrap;
      }
    }

    .horoscope {
      .horoscope-select {
        > li > a {
          padding: 0;
        }
      }
      p {
        white-space: pre-wrap;
      }
    }

  }

  .main {
    .content {
      .block {
        .border-with-shadow();
        padding: 10px;
      }

      .block:not(:first-child) {
        margin-top: 15px;
      }

      .alaune-main {
        h2 {
          text-align: center;
          font-weight: 300;
        }
        img {
          margin: auto;
        }
      }

      .interactions {
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
        .make-row();
        .comments, .views, .category {
          .make-xs-column(4);
        }
      }

      .block-category {
        h2.category-title {
          font-weight: 300;
          line-height: inherit;
          small {
            font-size: initial;
            .hidden-xs();
          }
          @media only screen and (min-width: @screen-xs-min) {
            margin-left: 30px;
          }
        }
      }
    }

    @media only screen and (min-width: @screen-xs-min) {
      .content {
        .make-xs-column(8, 0);
      }
    }

    @media only screen and (max-width: @screen-sm-min) {
      .content {
        .make-xs-column(12);
      }
    }
  }
}

