<a href="{{ admin.generateObjectUrl('send_email', object) }}" class="btn btn-sm btn-default {% if object.emailSent %}disabled{% endif %}" title="Envoyer mail nouvel article">
  <i class="glyphicon glyphicon-envelope"></i>
  Envoyer mail nouvel article
</a>
