{% extends 'AppBundle::base.html.twig' %}

{% block body %}

{% include 'AppBundle::menu.html.twig' %}

<div class="container">
  <div class="jumbotron">
    <h2>Hello world!</h2>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      <p>Bonjoure {{ app.user.firstName }} {{ app.user.lastName }} (test authentification CAS + LDAP)</p>
      <img alt="{{ app.user }}"  src="data:image/jpg;base64,{{ app.user.photo }}" class="img-thumbnail" />
    </div>
  </div>
</div>

{% endblock %}
