services:
    gedmo_doctrine_extensions.listener.ip_traceable:
        class: Gedmo\IpTraceable\IpTraceableListener
        public: false
        calls:
            - [ setAnnotationReader, [ @annotation_reader ] ]
        tags:
          - { name: doctrine.event_subscriber, connection: default}

    alterphp_doctrine_extensions.event_listener.ip_trace:
        class: AppBundle\EventListener\IpTraceSubscriber
        scope: request
        arguments:
          - @gedmo_doctrine_extensions.listener.ip_traceable
          - @request
        tags:
          - { name: kernel.event_subscriber }

    app.security.user_authentication:
        class: AppBundle\Service\UserAuthenticationService
        arguments:
            - @doctrine.orm.default_entity_manager
            - @app.service.ldap

    app.service.ldap:
        class: AppBundle\Service\LdapService
        arguments:
            - %ldap%

    app.listener.emails:
        class:      AppBundle\EventListener\EmailListener
        arguments:
            - @swiftmailer.mailer
            - @router
            - @twig
            - @sonata.media.twig.extension
            - @doctrine.orm.default_entity_manager
            - %new_article%
            - %kernel.root_dir%
        tags:
            - { name: kernel.event_subscriber }

    # Sonata
    sonata.admin.user:
        class: AppBundle\Admin\UserAdmin
        tags:
            - { name: sonata.admin, manager_type: orm, group: "Users", label: "Users" }
        arguments:
            - ~
            - AppBundle\Entity\User
            - ~

    sonata.admin.article_category:
        class: AppBundle\Admin\ArticleCategoryAdmin
        tags:
            - { name: sonata.admin, manager_type: orm, group: "Articles", label: "Categories" }
        arguments:
            - ~
            - AppBundle\Entity\ArticleCategory
            - ~

    sonata.admin.article:
        class: AppBundle\Admin\ArticleAdmin
        tags:
            - { name: sonata.admin, manager_type: orm, group: "Articles", label: "Articles" }
        arguments:
            - ~
            - AppBundle\Entity\Article
            - ~

    sonata.admin.comment:
        class: AppBundle\Admin\CommentAdmin
        tags:
            - { name: sonata.admin, manager_type: orm, group: "Articles", label: "Comments" }
        arguments:
            - ~
            - AppBundle\Entity\Comment
            - ~

    sonata.admin.reading:
        class: AppBundle\Admin\ReadingAdmin
        tags:
            - { name: sonata.admin, manager_type: orm, group: "Articles", label: "Readings" }
        arguments:
            - ~
            - AppBundle\Entity\Reading
            - ~

    sonata.admin.article_media:
        class: AppBundle\Admin\ArticleMediaAdmin
        tags:
            - { name: sonata.admin, manager_type: orm, group: "Articles", label: "Article-Media", show_in_dashboard: false }
        arguments:
            - ~
            - AppBundle\Entity\ArticleMedia
            - ~

    sonata.admin.horoscope:
        class: AppBundle\Admin\HoroscopeAdmin
        tags:
            - { name: sonata.admin, manager_type: orm, group: "Horoscopes", label: "Horoscopes" }
        arguments:
            - ~
            - AppBundle\Entity\Horoscope
            - ~
